/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

/* Prevent layout shift */
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    background-color: rgb(180, 187, 187);
}

.scroll-container {
    overflow-x: auto;  /* Enables horizontal scrolling */
    white-space: nowrap;  /* Prevents content from wrapping */
    border: none;
}
  